<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.petcarepedia.repository.ReviewReportMapper">

	<insert id="report" parameterType="com.project.petcarepedia.dto.ReviewReportDto">
		INSERT INTO PCP_REVIEW_REPORT(RRID, MID, RID, HID, RRDATE, RRESON)
		VALUES('RR_'||LTRIM(TO_CHAR(SEQU_PCP_REVIEW_REPORT_RRID.NEXTVAL,'0000')), #{mid}, #{rid}, #{hid}, SYSDATE, #{rreson})
	</insert>
	
	<select id="check" parameterType="com.project.petcarepedia.dto.ReviewReportDto" resultType="int">
		select count(*) from pcp_review_report where mid = #{mid} and rid = #{rid}
	</select>

	<delete id="delete" parameterType="com.project.petcarepedia.dto.ReviewReportDto">
		delete from pcp_review_report where rrid = #{rrid}
	</delete>

	<select id="RRlist" parameterType="com.project.petcarepedia.dto.PageDto" resultType="com.project.petcarepedia.dto.ReviewReportDto">
		select * from
			(select * from
				(select rownum rno, rrid, mid, rid, hid, rrdate, rreson, rcontent, rdate, msfile, hname from
					(select l.rrid, l.mid, l.rid, l.hid, to_char(l.rrdate, 'yyyy-mm-dd') rrdate, l.rreson, r.rcontent, to_char(r.rdate, 'yyyy-mm-dd') rdate, m.msfile, h.hname
					 from pcp_review_report l, pcp_review r, pcp_hospital h, pcp_member m where l.rid = r.rid and l.hid = h.hid and m.mid = l.mid))
			 order by rrid desc)
		WHERE RNO BETWEEN #{startCount} AND #{endCount}
	</select>

	<select id="content" parameterType="String" resultType="com.project.petcarepedia.dto.ReviewReportDto">
		select rrid, mid ,rid, hid, rrdate, rreson, rcontent, rdate, rlike, rstar, msfile, hname from
			(select l.rrid, l.mid, l.rid, l.hid, to_char(l.rrdate, 'yyyy-mm-dd') rrdate, l.rreson, r.rcontent,
					to_char(r.rdate, 'yyyy-mm-dd') rdate, r.rlike, r.rstar ,m.msfile, h.hname
			 from pcp_review_report l, pcp_review r, pcp_hospital h, pcp_member m
			 where l.rid = r.rid and l.hid = h.hid and m.mid = l.mid) where rrid = #{rrid}
	</select>

	<select id="MRRlist" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM PCP_REVIEW_REPORT WHERE RID=#{rid}
	</select>

</mapper>